html {margin: 0}
body {font: 10px Arial, Helvetica, sans-serif; color: white; margin: 0}
a {color: blue; cursor: pointer}

.program {position: absolute; left: 10; top: 20; background-color: gray; width: 360; border: 1px solid black}
.block {background-color: #666666; border-top-width: 1px; border-top-style: solid; border-top-color: blue;}
.item {background-color: gray; text-align: right; border-top-width: 1px; border-top-style: solid; border-top-color: black}

.marker_sync {position: absolute; z-index: 1; left: 1; width: 380; height: 1; border-top-width: 1px; border-top-style: solid; border-top-color: green}
.marker_current {position: absolute; z-index: 0; left: 1; width: 380; height: 1; border-top-width: 1px; border-top-style: solid; border-top-color: red}

.player {position: absolute; left: 400; top: 190; background-color: gray; text-align: center; width: 318; height: 238; border: 1px solid black}
.video {font:20px Arial, Helvetica, sans-serif; position: absolute; left: 10%; top: 10%; background-color: #999999; text-align: center; width: 80%; height: 80%; border: 1px solid black}
.controls {font-size:8px; position: absolute; left: 400; top: 440; background-color: gray; text-align: center; width: 318; height: 10; border: 1px solid black}
.slide {position: absolute; left: 10; top: 3; text-align: right; background-color: gray; width: 360; border: 1px solid black}
.overlays {font-size:8px; position: absolute; left: 400; top: 20; padding: 5; background-color: gray; text-align: left; width: 600; height: 140; border: 1px solid black}

.nextUp {font:14px Arial, Helvetica, sans-serif; position: absolute; left: 410; top: 386; background-color: #008800; text-align: center; width: 200; height: 50; border: 1px solid black; visibility: hidden}
.nextAppt {font:14px Arial, Helvetica, sans-serif; position: absolute; left: 620; top: 386; background-color: #000088; text-align: center; width: 200; height: 50; border: 1px solid black; visibility: hidden}
.wait {font:14px Arial, Helvetica, sans-serif; position: absolute; left: 580; top: 290; background-color: #880000; text-align: center; width: 160; height: 50; border: 1px solid black; visibility: hidden}
.onAirNow {font:14px Arial, Helvetica, sans-serif; position: absolute; left: 400; top: 462; background-color: #880088; text-align: center; width: 160; height: 50; border: 1px solid black}

.overlay {position: absolute; z-index: 1; opacity: 0.4}

input {width: 40}
.color {width: 70}
.overlay_checkbox {width: 20}